/* .videos .footage:first-child {
  grid-column: span 3 / span 3;
} */
.footage {
  position: relative;
  transition: all;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
